<h1 class="todo_list_title">Edit Todo List</h1>

<div class="forms">
    <%= render 'form' %>
</div>

<div class="links">
    <%= link_to todo_lists_path, class: 'btn btn-danger btn-sm' do %>
        <i class="glyphicon glyphicon-remove"></i> Cancel
    <% end %>
</div>