<h1 class="todo_list_title">New Todo List</h1>

<div class="forms">
    <%= render 'form' %>
</div>

<div class="links">
    <%= link_to todo_lists_path, class: 'btn btn-primary btn-sm' do %>
        <i class="glyphicon glyphicon-menu-left"></i> Back
    <% end %>
</div>